<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Tableau de bord</h1>
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
      <!-- Panel pour Nombre d'élèves -->
      <div class="col-lg-6 col-md-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-user fa-5x"></i> <!-- Icône pour les élèves -->
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge">15826</div>
              </div>
            </div>
          </div>
          <a href="#">
            <div class="panel-footer">
              <span class="pull-left" style="font-size: 20px;">Nombre d'élèves</span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
      </div>

      <!-- Panel pour Nombre de professeurs -->
      <div class="col-lg-6 col-md-6">
        <div class="panel panel-green">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-chalkboard-teacher fa-5x"></i> <!-- Icône pour les professeurs -->
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge">85952</div>
              </div>
            </div>
          </div>
          <a href="#">
            <div class="panel-footer">
              <span class="pull-left" style="font-size: 20px;">Nombre de professeurs</span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Panel pour Nombre d'utilisateurs -->
      <div class="col-lg-6 col-md-6">
        <div class="panel panel-yellow">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-users fa-5x"></i> <!-- Icône pour les utilisateurs -->
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge">12542</div>
              </div>
            </div>
          </div>
          <a href="#">
            <div class="panel-footer">
              <span class="pull-left" style="font-size: 20px;">Nombre d'utilisateurs</span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
      </div>

      <!-- Panel pour Nombre d'élèves par genre -->
      <div class="col-lg-6 col-md-6">
        <div class="panel panel-red">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-venus-mars fa-5x"></i> <!-- Icône pour élèves par genre -->
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge">7532</div>
              </div>
            </div>
          </div>
          <a href="#">
            <div class="panel-footer">
              <span class="pull-left" style="font-size: 20px;">Nombre d'élèves par genre</span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
      </div>
    </div>



  </div>
  <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
